/*
    Style: orange
    Style No: 141
    Version: 1.0a, 20071115
    Author: blogbus

    Optimal Configuation: Best view in at least 1024*768 dpi, Ture color, Javascript Enabled.
    Browser Support: MS-IE 6+/Mozilla FireFox 1.5+/Netscape Navigator 8.1/Opera 8.5+
    (c) Copyright 2002-2007 Blogbus Web Team. All Rights Reserved.
*/
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #fafff6;
        background:#fff url(http://files.blogbus.com/apollo-skin6.blogbus.com/files/12014122300.jpg) repeat top center;
}
li {
    list-style: none;
        margin:0;
}
a {
    text-decoration: none;
    color: #b8e154;
}
a:hover {
    text-decoration: none;
    color: #fafff6;
}
img {
    border: none;
}
input {
    padding: 1px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    color: #eee;
    border: 1px dashed #000;
    background: none;
}
textarea {
    padding: 2px 3px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    color: #eee;
    border: 1px dashed #000;
    background: none;
    overflow: auto;
}
.button {
    width: 48px;
    height: 20px;
    padding: 0 0 2px 7px;
    *padding: 2px 0 2px 3px;
    font-size: 100%;
    font-weight: bold;
    letter-spacing: 0.5em;
    text-align: center;
    color: #000;
    border: 1px dashed #000;
    background: none;
    cursor: pointer;
}
.time {
    font-size: 90%;
}
.clear {
    clear: both;
}
#index {
    margin: 0 auto;
    padding: 0 0 20px;
        background: url(http://files.blogbus.com/apollo-skin6.blogbus.com/files/s/12018555300.jpg) repeat-y top center;
}
#detail {
    margin: 0 auto;
    padding: 0 0 20px;
}
#container {
    width: 782px;
    margin: 0 auto;
    padding: 0 4px;
}
#header {
    width: 782px;
    height: 139px;
    text-align: left;
    overflow: hidden;
        background: url(http://files.blogbus.com/apollo-skin6.blogbus.com/files/s/12018555950.jpg) no-repeat 20px 0;
}
.blogName {
    padding: 30px 10px 10px 85px;
    font-size: 190%;
    font-weight: bold;
    text-align: left;
    line-height: 120%;
    color: #FFF;
}
.blogName a {
    text-decoration: none;
    color: #FFF;
}
.blogName a:hover {
    color: #b8e154;
    background: none;
}
.description {
    padding-left: 85px;
    font-size: 120%;
    font-weight: bold;
    line-height: 120%;
    color: #b8e154;
}
#innerContainer {
}
.innerTop {
    margin-bottom: 20px;
    padding-bottom: 5px;
}
#cats,#cats ul,#cats li,#cats h2,#cats .modBody {
    display: inline;
}
#cats {
    float: left;
    width: 782px;
    margin-bottom: 15px;
    padding-bottom: 5px;
}
#cats h2 {
    margin-right: 10px;
    font-size: 100%;
    font-weight: normal;
}
#cats li {
    margin-right: 10px;
}
.innerBottom {
}
#outerContent {
    float: left;
    width: 565px;
    text-align: left;
    line-height: 150%;
    overflow: hidden;
}
#content {
}
.contentTop {
}
.contentBottom {
}
#posts {
}
.postsTop {
}
.postsBottom {
}
#posts li {
    width: 565px;
    margin: 0 0 30px;
}
.postHeader {
margin:0;
    float: left;
    width: 565px;
        background: url(http://files.blogbus.com/apollo-skin6.blogbus.com/files/12018555956.jpg) no-repeat -5px 0;
        height: 99px;
}
.postHeader h2 {
    width: 565px;
    padding: 30px 0 0 120px;
    font-size: 100%;
}
.category {
    font-weight: normal;
}
.category a {
    margin: 0 2px;
}
.postHeader h3 {
    float: left;
    font-size: 100%;
    font-weight: normal;
    text-align: left;
}
.tags {
    float: right;
}
.tags a {
    margin: 0 2px;
}
.tags a:hover {
}
.postBody {
       padding-bottom: 10px;
       padding-top: 10px;
       padding-left:45px;
       padding-right: 40px;
       background:url(http://files.blogbus.com/apollo-skin6.blogbus.com/files/12018555954.jpg) repeat-y top center;
}
.postBody p {
    margin: 0 auto 18px;
}
.postBody table {
    margin: 0 auto;
}
.postBody table a:hover {
    border: none;
}
.postBody img{
        padding: 2px;
        border: 1px dashed #000;
}
.postFooter {
        margin:0;
        height: 52px;
    padding: 10px 45px 0 55px;
    color: #fafff6;
        background: url(http://files.blogbus.com/apollo-skin6.blogbus.com/files/12018555955.jpg) top center no-repeat;
}
.postFooter a {
}
.postFooter a:hover {
}
.menubar {
}
.pageNavi {
        margin:0;
        padding-left: 35px;
        padding-bottom: 20px;
}
.pageNavi a {
}
.pageNavi a:hover {
}
#outerSidebar {
    float: right;
    width: 200px;
    padding: 0 0 0 8px;
    text-align: left;
    line-height: 140%;
    overflow: hidden;
    table-layout: fixed;
    word-break: break-all;
        color: #fafff6;
}
#outerSidebar .count{
    margin-left: 5px;
}
#outerSidebar h2 {
    margin-bottom: 8px;
    font-size: 100%;
    font-weight: bold;
    padding-left: 20px;
        padding-right: 20px;
        color: #fff;
}
#sidebar {
}
.sidebarTop {
}
.sidebarBottom {
}
.module {
        color: #b8e154;
        margin-top: 10px;
        margin-bottom: 20px;
        background: url(http://files.blogbus.com/apollo-skin6.blogbus.com/files/12018555953.jpg) repeat-y top center;
}
.modTop {
        background: url(http://files.blogbus.com/apollo-skin6.blogbus.com/files/12018555952.jpg) no-repeat top center;
        height: 26px;
}
.modBottom {
        background: url(http://files.blogbus.com/apollo-skin6.blogbus.com/files/12018555951.jpg) no-repeat top center;
        height: 28px;
}
.modBody {
        padding-left: 20px;
        padding-right: 20px;
}
#profile a:hover {
    background: none;
}
#profile img {
    width: 96px;
    height: 96px;
    padding: 2px;
    overflow: hidden;
}
#profile h3 {
    margin: 5px 0 0;
    font-size: 100%;
}
.about {
}
#calendar table {
    width: 100%;
    margin: 0 0 0 -3px;
    padding: 0;
}
#calendar a {
       color: #fff;
}
#calendar a:hover {
}
#calendar td {
    font-size: 90%;
    text-align: center;
    line-height: 150%;
    word-break: keep-all;
    text-transform: lowercase;
}
#calendar td a {
    font-weight: bold;
    text-decoration: none;
    background: none;
}
#calendar td a:hover {
    border: none;
}
#calendar .calendarHead td {
    font-size: 110%;
    font-weight: bold;
}
#calendar .week td {
    padding: 3px 2px;
    font-size: 90%;
    text-align: center;
    white-space: nowrap;
}
.day {
    text-align: center;
    white-space: nowrap;
}
#calendar td.today {
    color: #FFF;
    background: #b8e154;
}
#calendar td.today a {
    color: #FFF;
}
#tags {
    display: inline;
}
#tags .count {
    display: none;
}
#tags li {
    display: inline;
    margin: 0 5px 0 0;
}
#tags .more {
    margin: 5px 5px 20px 0;
}
#search .textField {
    width: 130px;
    margin-left: 7px;
}
#nComments .modBody {
}
#nComments .author {
}
#custom {
    margin-bottom: 20px;
}
.statistics {
    margin-bottom: 20px;
}
.subscribe {
    margin-bottom: 20px;
}
.poweredBy {
    font-size: 80%;
}
#footer {
    text-align: center;
}
.copyright {
    color: #FFF;
}
.copyright a {
    color: #b8e154;
}
.tb_url {
    margin: 5px 0;
}
.tb_url input {
    width: 280px;
    color: #555;
}
#trackbacks {
    width: 565px;
    margin: 0 0 20px;
}
#trackbacks .desc {
    margin: 0 0 15px 0;
}
#trackbacks h2 {
    font-size: 100%;
    margin-bottom: 20px;
}
#trackbacks h3 {
    font-size: 100%;
    font-weight: normal;
}
#trackbacks .blogName {
    margin: 2px 0;
    padding: 0;
    font-size: 100%;
    font-weight: normal;
    text-align: left;
}
#trackbacks .blogName span {
    font-weight: bold;
}
#trackbacks .time {
    font-size: 80%;
}
#trackbacks li {
    margin: 0 0 20px;
}
#trackbacks .content {
    color: #666;
}
.context {
    margin: 5px 25px 5px 25px;
    font-size: 100%;
    text-align: left;
}
#comments {
    width: 565px;
    margin: 0 0 20px;
}
#comments h2 {
    font-size: 100%;
    margin-bottom: 20px;
        padding-left: 25px;
        padding-right: 25px;
}
#comments li {
        border: 1px dashed #000;
    margin: 0 25px 25px 25px;
        padding: 5px;
}
#comments .menubar {
    margin-top: 10px;
}
.reCmtBody {
    margin: 5px 10px 5px 10px;
    padding: 5px;
    color: #b8e154;
        border: 1px dashed #000;
}
.cmtBody p {
    margin: 10px 0;
}
.reply {
}
#commentForm {
    margin: 0 0 30px;
        padding-left: 25px;
}
#commentForm h2 {
        padding-left: 25px;
    font-size: 100%;
    margin-bottom: 20px;
}
#commentForm form {
}
#commentForm label {
    display: block;
}
#commentForm textarea {
        border: 1px dashed #000;
    width: 400px;
    margin: 5px 0;
}

#content #posts li .postBody ul,ol { margin:0; padding:0; margin-left:20px; }
#content #posts li .postBody li { margin:0; padding:0; padding:0 2px;list-style-position:inside; }
#content #posts li .postBody ul li { list-style:disc; }
#content #posts li .postBody ol li { list-style:decimal; }
