@charset "utf-8";

/*
Version: 1.0
Date: 20071109
Author: Apollo
Email:ze.apollo[at]gmail.com
Blog:imapollo.blogbus.com
*/

/*
* { outline: 5px solid #000 }
* * { outline: 5px solid #000 }
* * * { outline: 2px dotted orange }
* * * * { outline: 2px dotted green }
* * * * * { outline: 3px solid #000 }
* * * * * * { outline: 1px solid #999 }
* * * * * * * { outline: 1px solid #ccc }
* * * * * * * * { outline: 1px solid blue }
* * * * * * * * * { outline: 1px solid red }
*/

*{ margin:0; padding:0; }
html { height:100%; }
body { height:100%; color:#555; font-size:12px; font-family: Arial, Helvetica, sans-serif, "ו"; }
ul,ol,li { list-style:none; }
img { border:none; }
.clear { clear:both; visibility:hidden; margin:0; padding:0; height:0px; line-height:0; font-size:0px; border:none; }
.dis_none { display:none; }
a { text-decoration:none; color:#999; }
a:hover { color:#000; }

#index {  }
#container { width:100%; background: #fff;}
#innerContainer { width:800px; margin:auto; background:#fff;}
#outerContent { padding-top:60px; float:right; display:inline; width:505px; margin-right:30px;  }
#outerSidebar { float:left; display:inline; width:215px; margin-left:30px; padding-top:60px;}
.innerBottom { clear:both; visibility:hidden; margin:0; padding:0; height:0px; line-height:0; font-size:0px; border:none; }

#header { width:495px; height:60px; }
#header h1 { padding-top:15px; margin-left:10px; font-size:20px; font-family: Verdana, Arial, Helvetica, "ו", sans-serif ; font-weight:normal; }
#header h1 a { color:#000; }
#header h1 a:hover { color: #999; }
#header .description { padding-top:5px; margin-left:10px; color:#666; font-size:14px; }

#footer { width:100%; padding:30px 0 40px; line-height:150%; text-align:center; background: #fff}

#content { width:495px; margin-top:30px; }
#posts { width:495px; }
#posts .postHeader h2 { height: 25px; background: url(http://apollo_skin3.blogbus.com/files/11945984610.jpg) no-repeat top left; padding:5px 100px 0 30px; color:#000; font-size:12px; }
#posts .postHeader h2 a { color:#666; font-size:12px;}
#posts .postHeader h2 a:hover { color:#666; }
#posts .postHeader h3 {   margin-top:-18px; padding-right:10px; text-align:right; color:#888;  font-size:11px; font-weight:normal; }
#posts div.category { color:#999; padding:8px 10px 0 0; text-align:right; }
#posts div.category a { color:#999; }
#posts div.category a:hover { color:#000; }
#posts span.category { display:none; font-size:12px;  font-weight:normal; }
#posts span.category a { font-size:12px; font-weight:normal; }
#posts .postBody { margin-top:10px; margin-bottom:15px; padding:0 10px; line-height:170%; font-family: "ו", Arial, Helvetica, sans-serif; word-break: break-all;   }
#posts .postBody img {border: 1px solid #aaa; padding:2px;}
#posts .postBody p { margin: 0 auto 18px; }
#posts .postBody table { margin: 0 auto; }
#posts .postBody table a:hover { border: none; }
#posts .postFooter { margin-bottom:15px; }
#posts .postFooter .tags { color:#999; padding:2px 10px; }
#posts .postFooter .tags a{ color:#999; }
#posts .postFooter .tags a:hover { color:#000; }
#posts .postFooter .menubar { margin:5px; padding:4px 5px; color:#999;  }
#posts .postFooter .menubar a { color:#999; }
#posts .postFooter .menubar a:hover { color:#000; }

.pageNavi { margin-bottom:20px; color:#999; padding:0 10px; }
.pageNavi span { font-weight:bold; }
.pageNavi a { color:#999; }
.pageNavi a:hover { color:#7ac142; }

#sidebar{ background: #fff url(http://apollo_skin3.blogbus.com/files/11945958041.jpg) repeat-y top left; text-align:right}
#sideBug { height: 270px; background: #fff url(http://apollo_skin3.blogbus.com/files/11945958040.jpg) no-repeat top left; }
#sidebar .module { padding:5px; color:#888; }
#sidebar .module h2 { margin-left: 60px; color:#fff; padding-left:15px; padding-right: 10px; font-size:12px; background: #666; }
#sidebar .module .modBody { margin:10px 5px 5px 15px ; }
#sidebar .module ul li { padding:0 0 6px; line-height:120%; word-break:break-all; white-space:normal; }
#sidebar .module a { color:#888; }
#sidebar .module a:hover { color:#000; }

#sidebar .modBody form div { margin:4px 0;text-align:right; }
#sidebar .modBody form div label { display:block; width:40px; float:left; display:inline; text-align:left; height:19px; line-height:19px;  }
#sidebar .modBody form div input { text-align:left; }
#sidebar .modBody input#username { width:135px; background: #fff; border:1px solid #d0d0d0; color:#666; height:17px; line-height:17px; }
#sidebar .modBody input#password { width:135px; background: #fff; border:1px solid #d0d0d0; color:#666; height:17px; line-height:17px; }
#sidebar .modBody input.button { width:55px; height:21px; line-height:19px;  background:#f6f6f6; border:1px solid #d0d0d0; color:#666; text-align:center; }

#sidebar #search .modBody input { width:140px; float:left; background: #fff; border:1px solid #d0d0d0; color:#666; height:19px; line-height:19px; }
#sidebar #search .modBody input.button {  width:40px; height:21px; line-height:19px;  background:#f6f6f6 ; border:1px solid #d0d0d0; color:#666; text-align:center; float:right; }

#sidebar #profile a img.avatar { padding:3px; border:1px solid #f0f0f0; }
#sidebar #profile a:hover img.avatar { padding:3px; border:1px solid #d0d0d0; }
#sidebar #profile h3.author { font-size:12px; }
#sidebar #profile .about { line-height:140%; margin:5px 0; color:#888; }

#sidebar #calendar { text-align:right; font-family:Arial, Helvetica, sans-serif; height:160px;}
#sidebar #calendar .modBody { margin:0; padding-left:40px; }
#sidebar #calendar h2 { display:none; }
#sidebar #calendar table { margin:0 auto; margin-top:5px; height:90%; }
#sidebar #calendar table a { color:#999; }
#sidebar #calendar table td { text-align:right; font-size:12px; padding:1px 0; width:22px; }
#sidebar #calendar table .calendarHead td { font-weight:bold; width:100%; padding:2px 0; color:#999; }
#sidebar #calendar table .week td{ font-family: Arial, Helvetica, sans-serif, Courier, monospace }
#sidebar #calendar table .day td a { color:#000; font-weight: bold; display:block; width:20px; padding:1px 0;  }
#sidebar #calendar table .day td a:hover { color:#000; background:#fff;}
#sidebar #calendar table .day td.today { background: #666; color: #fff }
#sidebar #meta { margin-top: -20px; border:none; }
#sidebar #meta li { margin-bottom:5px; }
#sidebar #meta li.statistics { padding-left:4px; }
#sidebar #meta li.subscribe img { vertical-align: middle; margin-left:4px; }
#sidebar #meta li.poweredBy img { }
#sidebar #meta li.poweredBy div { padding-top:5px; padding-left:4px; }
#sidebar #custom { word-break: break-all; margin:20px 0; text-align:center; }
span.time { font-size:11px; }

/*detail*/
#detail #posts .context { text-align:left; color:#999; margin-bottom:20px; }
#detail #posts .context a {color:#ccc; }
#detail #posts .context a:hover { color:#000; }
#detail #posts .postFooter  { margin-bottom:50px; }
#posts .postFooter .tb_url { color:#999; padding:2px 10px; }
#posts .postFooter .tb_url input  { width:400px; background: #fff; border:1px solid #f0f0f0; color:#999; height:13px; line-height:13px; padding:2px; }

#trackbacks h2 { padding:4px 10px 2px; margin:40px 0 20px; font-size:12px; color:#666; background:#F5FCEE; }
#trackbacks .desc { padding-left:10px; color:#888; padding-bottom:20px; }
#trackbacks li { margin-bottom:15px; padding:0 10px; background:url(http://public.blogbus.com/blogbus/skin/5131/bg_dotted_h.gif) repeat-x bottom; }
#trackbacks li h3 { margin-bottom:10px; }
#trackbacks li h3 a { color:#888; }
#trackbacks li h3 a:hover { color:#419639; }
#trackbacks li div { padding-bottom:2px; }
#trackbacks li div.time { font-size:11px; color:#999; }

#comments h2 { padding:4px 10px 2px; margin:40px 0 20px; font-size:12px; color:#666; background:#F5FCEE; }
#comments { padding-bottom:20px; }
#comments li {margin-bottom:30px ; padding:10px 10px 5px; background:url(http://public.blogbus.com/blogbus/skin/5131/bg_dotted_h.gif) repeat-x bottom; }
#comments li .cmtBody { padding-bottom:10px; line-height:160%;  word-break: break-all; }
#comments li .reCmtBody { margin-bottom:10px ; padding:10px 15px 5px; color:#888; background: #f6f6f6; border:1px solid #f0f0f0; line-height:160%; word-break: break-all; }
#comments li .reCmtBody div { margin-bottom:8px; }
#comments li .menubar {  color:#999;}
#comments li .menubar a { color:#999; }
#comments li .menubar a:hover { color:#7ac142; }

#commentForm { margin-bottom:40px; }
#commentForm h2 { padding:4px 10px 2px; margin:20px 0 20px; font-size:12px; color:#666; background:#F5FCEE; }
#commentForm form div { margin: 5px 10px; font-size:12px; }
#commentForm form div label { display:block; width:50px; float:left; display:inline; height:19px; line-height:19px; }
#commentForm form div input { border:1px solid #d0d0d0; color:#666; height:17px; line-height:17px; width: 200px; }
#commentForm form div textarea {margin-left:53px;  border:1px solid #d0d0d0; color:#666; width:400px; height:150px; overflow:auto; }
[xmlns] #commentForm form div textarea { margin-left:50px; }
#commentForm form div input.button { margin-left:53px; width:55px; height:21px; line-height:19px;  background:#f6f6f6 ; border:1px solid #d0d0d0; color:#666; text-align:center;}
[xmlns] #commentForm form div input.button { margin-left:50px; }
