/*
    Style: Apollo's Skin 07
    Version: 1.0
    Author: Apollo
    Email: ze.apollo@gmail.com

    Optimal Configuation: Best view in at least 1024*768 dpi, Ture color, Javascript Enabled.
    Browser Support: MS-IE 7+/Mozilla FireFox 2.0+
    (c) Copyright 2007-2050 J&A. All Rights Reserved.
*/

/***** Global Settings *****/

html, body {
border:0;
margin:0;
padding:0;
line-height:130%;
}

body {
background:url(http://files.blogbus.com/apollo-skin7.blogbus.com/files/12021213160.gif) repeat-x top left;
font:14px Verdana,Arial, Helvetica, sans-serif;
}

/***** Headings *****/

h1, h2, h3, h4, h5, h6 {
margin:0;
padding:0;
font-weight:normal;
}

h1 {
padding:30px 0 25px 0;
letter-spacing:-1px;
font-size:2em;
}

h2 {
padding:20px 0;
letter-spacing:-1px;
font-size:1.5em;
}

h3 {
font-size:1em;
font-weight:bold;
}

/***** Common Formatting *****/

p, ul, ol, li {
list-style:none;
margin:0;
padding:0;
}

p{
margin: 0 auto 18px;
}

ul, ol, li {
padding:0;
}

blockquote {
margin:1.25em;
padding:1.25em 1.25em 0 1.25em;
}

small {
font-size:0.85em;
}

img {
border:0;
}

sup {
position:relative;
bottom:0.3em;
vertical-align:baseline;
}

sub {
position:relative;
bottom:-0.2em;
vertical-align:baseline;
}

acronym, abbr {
cursor:help;
letter-spacing:1px;
border-bottom:1px dashed;
}

/***** Links *****/

a,
a:link,
a:visited,
a:hover {
text-decoration:none;
}

/***** Forms *****/

form {
margin:0;
padding:0;
display:inline;
}

input, select, textarea {
font:1em Arial, Helvetica, sans-serif;
}

textarea {
width:100%;
line-height:1.25;
}

label {
}

/***** Tables *****/

table {
border:0;
margin:0 0 1.25em 0;
padding:0;
}

table tr td {
padding:2px;
}

/***** Wrapper *****/

#wrap {
width:960px;
margin:0 auto;
}

/*****Structure*****/

#container{
width:920px;
margin:0 auto;
}

#header{
background:url(http://files.blogbus.com/apollo-skin7.blogbus.com/files/12021213162.jpg) no-repeat top left;
height:75px;
}

#index{
background:url(http://files.blogbus.com/apollo-skin7.blogbus.com/files/12021213163.jpg) no-repeat top left;
height:57px;
font-size:13px;
padding: 25px 10px 0 100px;
}

#index a, #index a:visited{
color:#8fa2c0;
}

#index a:hover{
color:#333;
}

#content{
width:560px;
margin:0;
float:left;
}

#sidebar{
overflow:hidden;
width:350px;
margin:0;
float:right;
font-size:12px;
color:#999;
}

#sidebarLeft{
width:170px;
margin:0;
float:left;
}

#sidebarRight{
width:170px;
margin:0;
float:right;
}

#footer{
clear:both;
padding: 10px 0 10px 0;
text-align:center;
font-size:12px;
color:#999;
}

#footer a{
color: #90a3c1;
}

#footer a:hover{
color:#ff4f42;
text-decoration:underline;
}

.blogName{
color:#fff;
padding:20px 10px 0 100px;
font-weight:bold;
}

.blogName a{
color:#fff;
}

.blogDes{
font-size:12px;
color:#90a3c1;
padding:0 10px 0 100px;
}

/*index-posts*/

#entryHeader{
background:url(http://files.blogbus.com/apollo-skin7.blogbus.com/files/12029760620.gif) repeat-x bottom left;
margin-bottom:5px;
}

.entryTitle{
font-size:15px;
color:#333;
padding-bottom:5px;
}

.entryTitle a, .entryTitle a:visited{
color:#333;
}

.entryTitle a:hover{
color:#ff4f42;
}

.time, .time a{
font-size:12px;
color:#90a3c1;
padding-bottom:5px;
}

#entryContent{
font-size:13px;
padding-bottom:10px;
color: #555;
}

#entryContent input{
width:560px;
}

#entryFooter{
background:url(http://files.blogbus.com/apollo-skin7.blogbus.com/files/12021213166.gif) repeat top left;
color:#999;
font-size:13px;
line-height:100%;
height:22px;
padding: 6px 10px 0 2px;
margin-bottom:15px;
}

#entryFooter a, #entryFooter a:visited{
color:#999;
text-decoration:underline;
}

#entryFooter a:hover{
color:#ff4f42;
text-decoration:underline;
}

#pageNavi{
font-size:12px;
color:#333;
}

#pageNavi a, #pageNavi a:visited{
color:#90a3c1;
}

#pageNavi a:hover{
color:#ff4f42;
text-decoration:underline;
}

#entryContent a, #entryContent a:visited{
color:#90a3c1;
}

#entryContent a:hover{
color:#ff4f42;
text-decoration:underline;
}

/*****sidebar*****/

.module{
font-size:12px;
}

.module h2{
text-align:left;
font-size:13px;
font-weight:bold;
color:#aaa;
line-height:100%;
padding:0 0 3px 0;
margin:20px 0 5px 0;
border-bottom:5px #eee solid;
}

.module a{
color:#90a3c1;
}

.module a:hover{
color:#ff4f42;
text-decoration:underline;
}

.modBody li{
margin-bottom:5px;
padding-bottom:1px;
border-bottom:#eee 1px solid;
}

#profile img{
border:1px #ccc solid;
padding:2px;
}

#calendar{
text-align:center;
}

#tags li, #links li, #cats li{
background:url(http://files.blogbus.com/apollo-skin7.blogbus.com/files/12029958560.jpg) no-repeat 0 2px;
padding-left:15px;
}

/*****Comments Form*****/

#comments{
color:#333;
font-size:13px;
}

#comments h2{
border-bottom: 5px #eee solid;
color:#333;
line-height:100%;
padding: 0 0 3px 0;
margin-bottom:5px;
font-size:14px;
}

#comments a, #comments a:visited{
color:#90a3c1;
}

#comments a:hover{
color:#ff4f42;
text-decoration:underline;
}

#comments li{
background:url(http://files.blogbus.com/apollo-skin7.blogbus.com/files/12021213166.gif) repeat top left;
margin:10px 0 15px 0;
padding:5px;
border:1px solid #ccc;
}

.reCmtBody{
border:1px solid #ddd;
background:#fcfcfc;
margin:5px;
padding:5px;
}

#commentForm{
color:#333;
font-size:13px;
}

#commentForm h2{
border-bottom: 5px #eee solid;
color:#333;
line-height:100%;
padding: 0 0 3px 0;
margin-bottom:5px;
font-size:14px;
}

input{
background:url(http://files.blogbus.com/apollo-skin7.blogbus.com/files/12021213166.gif) repeat top left;
border:#ccc solid 1px;
}

textarea{
background:url(http://files.blogbus.com/apollo-skin7.blogbus.com/files/12021213166.gif) repeat top left;
border:#ccc solid 1px;
}

#commentForm label {
    display: block;
}

/***** Global Classes *****/

.clear         { clear:both; }
.float-left    { float:left; }
.float-right   { float:right; }

.text-left     { text-align:left; }
.text-right    { text-align:right; }
.text-center   { text-align:center; }
.text-justify  { text-align:justify; }

.bold          { font-weight:bold; }
.italic        { font-style:italic; }
.underline     { border-bottom:1px solid; }
.highlight     { background:#ffc; }

.wrap          { width:960px;margin:0 auto; }

.img-left      { float:left;margin:4px 10px 4px 0; }
.img-right     { float:right;margin:4px 0 4px 10px; }

.nopadding     { padding:0; }
.noindent      { margin-left:0;padding-left:0; }
.nobullet      { list-style:none;list-style-image:none; }
