<style type="text/css">

a {
    color:#FFFFFF;
    text-decoration:none;
}
a:visited {
    color:#FFFFFF;
    text-decoration:none;
}
a:hover {
    color:#AAAAAA;
    text-decoration:none;
}
td,body {
    font-family:Verdana,宋体;
    font-size:12px;
        font-weight:normal;
}
.blogname {
    font-family:Verdana,宋体;
    font-size:30px;
        font-weight:normal;
    color:#FFFFFF;
    background:transparent;
        padding-left:180px;
}

.cats {
    height:37px;
    border-right:1px #666666 solid;
    background:#FFFFFF;
    padding:11px;
    font-family:Verdana,宋体;
    font-size:16px;
}

FORM {

}
INPUT {
    border:1px #FFFFFF solid;
    background:#000000;
    padding-top:2px;
    margin:2px;
                color:#FFFFFF;

}

.diaryTitle {
                color:#FFFFFF;
                font-size:18px;
}

.diaryTitleBg {
                margin:0;
            padding-top: 5px;
                padding-left: 15px;
                background:url(http://apollo_skin1.blogbus.com/files/11925959190.jpg) no-repeat top left;
                height: 50px;
                width:570px;
                color: #CCCCCC;
}
.diaryBody {
                color: #CCCCCC;
                font-family:Verdana,宋体;
                font-size:12px;
                font-weight: normal;
                padding-top: 5px;
                padding-left: 15px;
                padding-right: 10px;
                padding-bottom: 15px;
}

.diaryBody img {
                border: #fff solid 2px;
}

.postBy {
                padding-left: 15px;
                font_weight: normal;
                margin: 0;
}

TEXTAREA {
    border:1px #FFFFFF solid;
    font-size:12px;
    color:#FFFFFF;
    overflow:auto;
}
.recmtBody
{
    border:1px #FFFFFF solid;
    background:#000000;
    color:#FFFFFF;
    padding:4px;
}
/* 日历本身带有1px的内部边框，因此若要设置有色彩的边框，将整个日历底色与每日底色用不同颜色即可，各处border都应设为0 */
.day {
    font-size:12px;
    color:#FFFFFF;
    background:#000000;
}

.c_a /* 发表了日志的日期的格式 */
{
    font-size:12px;
    color:#FFFFFF;
    text-decoration:underline;
    background:#000000;
}
.calendar_h  /* 日历首行显示的月份的格式 */
{
    font-size:12px;
    color:#FFFFFF;
    background:#000000;
}
.calendar /* 日历整体及外边框 */
{
    padding:0px;
    margin:0px;
    font-family: Verdana, Tahoma;
    background:#FFFFFF;
}

.week {
    font-size:12px;
    color:#FFFFFF;
    font-family:Trebuchet MS, Arial Narrow;
    background:#000000;

}
.today {
    font-size:12px;
    color:#000000;
    background:#AAAAAA;
    font-weight:bold;
}
.sidebar ul {
    margin:0;
    padding:auto;
    list-style:none;
}
#tagline ul li {
    display:inline;
    padding-right:1em;
}
#tagline ul {
    display:inline;
    list-style:none;
    margin:0;
    padding:0 0 0 1em;
}
#tagline div {
    display:inline;
}
.tags {
    margin-top: 2px;
    margin-bottom: 20px;
}
</style>
