<style type="text/css">
<!--
textarea{border: 1px solid #999; background: #fff;}
input{border: 1px solid #999; background: #fff;}
#header{margin-top: 0; margin-bottom: 0; padding:14px 30px 0 230px; background: #fff url(http://apollo-skin5.blogbus.com/files/12013281410.gif)
no-repeat 226px 40px; height: 55px; font-size: 16px; font-weight: normal;}
#header a{font-weight: bold;}
#logBody{background: #fff;}
body{font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; line-height: 160%; color: #666; background: #8bde00; text-align: left; margin:0;}
a{text-decoration:none; color:#222; font-weight:normal;}
a:visited{text-decoration:none; color:#222;}
a:hover{text-decoration:none; color:#7ac10e;}
#container{margin:0; padding:0; background:#fff url(http://apollo-skin5.blogbus.com/files/12011769930.gif) repeat-x; background-position: 0 51px;}
#content{margin-top: 0; margin-bottom: 0; margin-left:200px; padding:35px 30px 0 30px; width:490px; background:#fff url(http://apollo-skin5.blogbus.com/files/12011769931.gif) no-repeat top center;}
#blogInfo{padding-top: 130px; float:left; width:170px; padding-right: 0; text-align: right;}
#blogInfo a{line-height:21px; color: #7ac10e;}
#blogInfo a:hover{background: #7ac10e; line-height:21px; color: #fff;}
#pageText{padding-left:230px; padding-bottom: 50px; background: #fff;}
#footerBar{background: #8bde00 url(http://apollo-skin5.blogbus.com/files/12012697640.jpg) repeat-x top left; color:#fff;}
#footerContainer{width:800px; padding-left:70px; color:#fff; padding-top:30px;}
#footerBar a{color:#fff;}
#footerBar a:hover{color:#fff; text-decoration:underline;}
#footer1{float:left; width:400px;}
#footer2{float:right; width:400px;}
#footer11{float:left; width:200px;}
#footer12{float:right; width:200px;}
#footer21{float:left; width:200px;}
#footer22{float:right; width:200px;}
#copyright{clear:both; text-align:left; color: #fff; padding-left: 70px;}
#footerBar ul{list-style:none; padding-left:0; padding-right: 15px; margin-top:0; margin-left:0;}
#footerBar li{list-style:none; line-height:23px; border-bottom:1px solid #ddd; overflow:hidden; height:23px;}
#blogTitle{}
.tag{color:#7ac10e; font-weight:bold;}
.tag a{color:#7ac10e; font-weight:bold;}
.tag a:hover{color:#222;}
.title a{font-size:20px; font-weight:bold; color:#666; font-family: Arial;}
#comments{margin-top: 0; margin-bottom: 0; margin-left:200px; padding:35px 30px 0 30px; width:490px;}
#comments li{padding-bottom: 5px; border-bottom: 1px solid #999; list-style:none; margin: 0;}
.clearfix:after {
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
}

/*hack for IE6*/
* html .clearfix {
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
}

/*hack for IE7*/
*+html .clearfix {
content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
    height:1%;
}
-->
</style>
